.shipping-address-container {
  width: 50%;
  margin: auto;
}

.shipping-address-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 500;
}

.center-spinner {
  margin-top: 150px;
}

.submit-button {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
