:host {
  display: block;
  min-width: 1100px;
}

.review-order-container {
  width: 75%;
  margin: auto;
}

.complete-message {
  color: var(--success-color);
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

.complete-container {
  width: max-content;
  margin: auto;
  margin-top: 55px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
