.form-container {
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--faint-light-color);
  padding: 25px;
}
