<mat-progress-bar mode="query" *ngIf="(username$ | async) === null"></mat-progress-bar>
<nav class="navbar">
  <mat-toolbar color="primary">
    <a routerLink="/books" class="brand">Hamazon</a>

    <div class="search-field-container">
      <input
        matInput
        placeholder="Enter book's title, author's name or ISBN"
        type="search"
        class="search-field"
        [formControl]="autoCompleteControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container *ngIf="books$ | async as books; else spinner">
          <mat-option *ngFor="let book of books; trackBy: trackBook">
            <a [routerLink]="['/books', book.id]">
              {{ book.title }} - {{ book.authorName }} ({{
                book.publicationDate | date: 'y'
              }})
            </a>
          </mat-option>
        </ng-container>
        <ng-template #spinner>
          <mat-option [disabled]="true">
            <div class="center-spinner">
              <mat-spinner color="primary" [diameter]="30"></mat-spinner>
            </div>
          </mat-option>
        </ng-template>
      </mat-autocomplete>
      <mat-icon class="icon">search</mat-icon>
    </div>

    <mat-icon>account_circle</mat-icon>

    <ng-container *ngIf="username$ | async as username; else isLoading">
      <p class="username">{{ getWelcomeMessage(username) }}</p>
    </ng-container>
    <ng-template #isLoading>
      <p class="username">Loading...</p>
    </ng-template>

    <a mat-raised-button color="accent" class="home-button">Home</a>
    <button type="button" mat-raised-button color="warn" (click)="logout()">
      Logout
    </button>
    <a routerLink="" mat-icon-button title="Shopping Cart">
      <mat-icon [matBadge]="formatCartLength(cartLength$ | async)" matBadgeColor="accent">
        shopping_cart
      </mat-icon>
    </a>
  </mat-toolbar>

  <div class="blur-background" *ngIf="(username$ | async) === null"></div>
</nav>
