<ng-container *ngIf="orders; else spinner">
  <ul
    class="orders-list"
    *ngIf="orders.length > 0; else emptyListPlaceholder"
    (appInfiniteScroll)="requestNextPage()"
  >
    <li class="orders-list__item order" *ngFor="let order of orders; trackBy: trackOrder">
      <div class="order__info border">
        <div class="order__info-content">
          <app-book-info [book]="order.book">
            <div class="order-details">
              <p class="order-detail">
                <span class="order-detail__name">Price: </span>
                <span class="price order-detail__content">{{
                  order.book.price | currency
                }}</span>
              </p>
              <p class="order-detail">
                <span class="order-detail__name">Amount: </span>
                <span class="order-detail__content">{{ order.amount }}</span>
              </p>
              <p class="order-detail">
                <span class="order-detail__name">Order Placed: </span>
                <span class="order-detail__content">{{
                  order.placedIn | date: 'longDate'
                }}</span>
              </p>
            </div>
            <a [routerLink]="['/books', order.book.id]" mat-flat-button color="primary">
              Buy again
            </a>
          </app-book-info>
        </div>
      </div>

      <div class="order__shipping-address">
        <app-shipping-address-info
          [shippingAddress]="order.shippingAddress"
        ></app-shipping-address-info>
      </div>
    </li>

    <li *ngIf="isGettingPage">
      <div class="center-spinner">
        <mat-spinner color="primary" [diameter]="45"></mat-spinner>
      </div>
    </li>
  </ul>

  <ng-template #emptyListPlaceholder>
    <p class="empty-list-placeholder">No orders found.</p>
  </ng-template>
</ng-container>

<ng-template #spinner>
  <div class="center-spinner first-page-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
