.orders-list {
  max-height: 90vh;
  padding: 0;
  overflow: auto;
  margin-top: 15px;
}

.orders-list__item {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.order__shipping-address {
  padding: 15px;
  width: 30%;
  margin-right: 7px;
}

.shipping-address-info {
  margin-bottom: 5px;
}

.shipping-address-header {
  font-size: 1.3rem;
  font-weight: 500;
}

.info-name {
  font-weight: 500;
}

.order__info {
  width: 70%;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.order__info-cover-img {
  width: 130px;
  margin-right: 25px;
}

.order__info-content {
  flex-grow: 1;
}

.product-title {
  margin: 0px;
}

.product-creator {
  color: var(--faint-dark-color);
  margin-bottom: 0;
}

.genre {
  margin-top: 7px;
  margin-bottom: 7px;
}

.order-details {
  margin-top: 10px;
}

.order-detail {
  margin-bottom: 3px;
}

.order-detail__name {
  font-weight: 500;
}

.order-detail__content {
  font-size: 1.3rem;
}

.empty-list-placeholder {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
  color: var(--primary-color);
}

.center-spinner {
  margin-top: 25px;
}
