<ng-container *ngIf="orders; else spinner">
  <ul
    class="orders-list"
    *ngIf="orders.length > 0; else emptyListPlaceholder"
    (appInfiniteScroll)="requestNextPage()"
  >
    <li class="orders-list__item order" *ngFor="let order of orders; trackBy: trackOrder">
      <div class="order__info border">
        <img class="order__info-cover-img" [src]="order.book.coverImgUrl" alt="" />
        <div class="order__info-content">
          <h2 class="product-title">{{ order.book.title }}</h2>
          <p class="product-creator">By {{ order.book.authorName }}</p>
          <div class="genre">
            <mat-chip-list>
              <mat-chip *ngFor="let genre of order.book.genres">
                {{ toReadableGenre(genre) }}
              </mat-chip>
            </mat-chip-list>
          </div>

          <mat-divider></mat-divider>
          <div class="order-details">
            <p class="order-detail">
              <span class="order-detail__name">Price: </span>
              <span class="price order-detail__content">{{
                order.book.price | currency
              }}</span>
            </p>
            <p class="order-detail">
              <span class="order-detail__name">Amount: </span>
              <span class="order-detail__content">{{ order.amount }}</span>
            </p>
            <p class="order-detail">
              <span class="order-detail__name">Order Placed: </span>
              <span class="order-detail__content">{{
                order.placedIn | date: 'longDate'
              }}</span>
            </p>
          </div>
          <a [routerLink]="['/books', order.book.id]" mat-flat-button color="primary">
            Buy again
          </a>
        </div>
      </div>

      <div class="order__shipping-address border">
        <p class="shipping-address-header">Shipping Address</p>
        <p class="shipping-address-info">
          <span class="info-name">Fullname:</span> {{ order.shippingAddress.fullname }}
        </p>
        <p class="shipping-address-info">
          <span class="info-name">Address:</span> {{ order.shippingAddress.address }}
        </p>
        <p class="shipping-address-info">
          <span class="info-name">City:</span> {{ order.shippingAddress.city }}
        </p>
        <p class="shipping-address-info">
          <span class="info-name">Country: </span> {{ order.shippingAddress.country }}
        </p>
        <p class="shipping-address-info">
          <span class="info-name">Phone number: </span>
          {{ order.shippingAddress.phoneNumber }}
        </p>
        <p class="shipping-address-info" *ngIf="order.shippingAddress.note">
          <span class="info-name">Note: </span> {{ order.shippingAddress.note }}
        </p>
      </div>
    </li>

    <li *ngIf="isGettingPage">
      <div class="center-spinner">
        <mat-spinner color="primary" [diameter]="45"></mat-spinner>
      </div>
    </li>
  </ul>

  <ng-template #emptyListPlaceholder>
    <p class="empty-list-placeholder">No orders found.</p>
  </ng-template>
</ng-container>

<ng-template #spinner>
  <div class="center-spinner first-page-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
