<div class="form-container">
  <h1>Register</h1>
  <form class="form">
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput required />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput required />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput required />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirm Password</mat-label>
      <input matInput required />
      <button matSuffix mat-icon-button>
        <mat-icon> visibility </mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
