@import './variables.css';
@import './utils.css';

html,
body {
  min-width: 900px;
  height: 100%;
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.error-message {
  color: var(--error-font-color);
}

a {
  text-decoration: none;
}
