.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-spinner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
