<mat-list>
  <div mat-subheader>Search Books</div>
  <mat-list-item class="form-item">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        [formControl]="textControl"
        placeholder="Enter title, author or ISBN"
        type="search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Publication Date</div>
  <mat-list-item class="form-item">
    <mat-form-field appearance="standard">
      <mat-label>Enter A Date Range</mat-label>
      <mat-date-range-input [formGroup]="dateRangeControl" [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          [errorStateMatcher]="customErrorStateMatcher"
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          [errorStateMatcher]="customErrorStateMatcher"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error>
        <app-form-control-validation-message
          [control]="dateRangeControl.controls.start"
          *ngIf="dateRangeControl.controls.start.invalid; else endDateInvalid"
        ></app-form-control-validation-message>

        <ng-template #endDateInvalid>
          <app-form-control-validation-message
            [control]="dateRangeControl.controls.end"
            *ngIf="dateRangeControl.controls.end.invalid; else dateRangeInvalid"
          ></app-form-control-validation-message>
        </ng-template>

        <ng-template #dateRangeInvalid>
          <app-form-control-validation-message
            [control]="dateRangeControl"
          ></app-form-control-validation-message>
        </ng-template>
      </mat-error>
    </mat-form-field>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Order By</div>
  <mat-list-item class="form-item">
    <mat-form-field>
      <mat-label>Select Order Field</mat-label>
      <mat-select [formControl]="orderFieldControl">
        <mat-option *ngFor="let field of orderFields | sort: compareFunc" [value]="field">
          {{ getReadableOrderField(field) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Order Direction</div>
  <mat-list-item class="form-item">
    <mat-form-field>
      <mat-label>Select Direction</mat-label>
      <mat-select [formControl]="orderDirectionControl">
        <mat-option *ngFor="let direction of orderDirections" [value]="direction">
          {{ getReadableDirection(direction) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Genres</div>
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="handleGenreSelectionChange($event)"
  >
    <mat-list-option *ngFor="let genre of genres | sort: compareFunc" [value]="genre">
      {{ getReadableGenre(genre) }}
    </mat-list-option>
  </mat-selection-list>
</mat-list>
