<div class="shipping-address border">
  <p class="shipping-address__header">Shipping Address</p>
  <p class="shipping-address__info">
    <span class="info-name">Fullname:</span> {{ shippingAddress.fullname }}
  </p>
  <p class="shipping-address__info">
    <span class="info-name">Address:</span> {{ shippingAddress.address }}
  </p>
  <p class="shipping-address__info">
    <span class="info-name">City:</span> {{ shippingAddress.city }}
  </p>
  <p class="shipping-address__info">
    <span class="info-name">Country: </span> {{ shippingAddress.country }}
  </p>
  <p class="shipping-address__info">
    <span class="info-name">Phone number: </span> {{ shippingAddress.phoneNumber }}
  </p>
  <p class="shipping-address__info" *ngIf="shippingAddress.note">
    <span class="info-name">Note: </span> {{ shippingAddress.note }}
  </p>
</div>
