:host {
  width: 50%;
  margin: auto;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 500;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
