<h2 mat-dialog-title>Your current password</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Your current password</mat-label>
    <input matInput [formControl]="passwordControl" [type]="passwordInputType" />
    <button
      matSuffix
      mat-icon-button
      title="Show Password"
      (click)="togglePasswordVisibility()"
      type="button"
    >
      <mat-icon>
        {{ passwordIconType }}
      </mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions class="button-container">
  <button mat-button [mat-dialog-close]="null">Close</button>
  <button mat-button [mat-dialog-close]="passwordControl.value" cdkFocusInitial>
    Submit
  </button>
</div>
