:host {
  margin-top: 45px;
  margin-bottom: 25px;
  display: flex;
  font-size: 1.3rem;
  color: var(--light-contrast-color);
}

.book-details-container {
  width: 75%;
  padding-left: 10px;
}

.book-description {
  line-height: 25px;
}

.book-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 30px 0px 30px;
}

.book-info__content {
  margin-top: 10px;
  font-weight: 500;
  white-space: nowrap;
}
