<app-books-sidebar
  (initFormValuesStream)="setFormValuesStream($event)"
></app-books-sidebar>
<div class="books-list-container">
  <h2 class="header">Book List</h2>
  <mat-divider></mat-divider>

  <mat-paginator
    [length]="length$ | async"
    [pageIndex]="page$ | async"
    [pageSize]="pageSize$ | async"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
    [disabled]="(books$ | async) === null"
    aria-label="Select page"
  >
  </mat-paginator>

  <ng-container *ngIf="books$ | async as books; else spinner">
    <ng-template #emptyListPlaceholder>
      <p class="empty-books-list-placeholder">No Books Found :((</p>
    </ng-template>

    <ul class="books-list" *ngIf="books.length > 0; else emptyListPlaceholder">
      <li class="books-list__item" *ngFor="let book of books; trackBy: trackBook">
        <mat-card>
          <img mat-card-image [src]="book.coverImgUrl" alt="Book avatar" />
          <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.authorName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="book-price">{{ book.price | currency }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-stroked-button [routerLink]="['/books', book.id]" color="primary">
              Details
            </a>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </ng-container>

  <ng-template #spinner>
    <div class="spinner-container">
      <div class="center-spinner">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>
  </ng-template>
</div>
